{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

 {% block page_product_detail_buy_quantity %}
     <div id="katjatest" class="product-detail-detail-quantity-input input-group input-group-lg"
          data-quantity-field="true"
          data-quantity-field-options='{
            "purchaseSteps": "{{ page.product.purchaseSteps }}",
            "maxQuantity": "{{ product.calculatedMaxPurchase }}"
          }'>
         <div class="input-group-prepend">
             <button class="btn btn-secondary decrease" type="button">
                 -
             </button>
         </div>
         <input name="lineItems[{{ product.id }}][quantity]"
                type="number"
                class="form-control form-control-lg"
                style="-moz-appearance: textfield"
                title="Quantity"
                value="{{ page.product.minPurchase }}"
                max="{{ product.calculatedMaxPurchase}}"
                min="{{ product.minPurchase }}">
         <div class="input-group-prepend">
             <button class="btn btn-secondary increase" type="button">
                 +
             </button>
         </div>
     </div>
{% endblock %}